body {
    font-family: 'Edu SA Beginner', cursive;
    margin: 0%;
    padding: 0;
}

.orange {
    color: orange;
}

h1 {
    font-size: 65px;
    margin: 0px;
    padding: 0px;
}

h3 {
    font-size: 30px;
    color: grey;
}

.paragraph1 {
    text-align: justify;
    margin-bottom: 50px;
    font-size: larger;
    font-weight: 100;
}

.paragraph2 {
    margin-bottom: 50px;
    text-align: justify;
}

.link-button {
    text-decoration: dotted;
    color: black;
    padding: 15px 30px;
    border-radius: 30px;
    background-image: linear-gradient(rgb(236, 177, 68), rgb(233, 37, 37));
}

.display-flex {
    display: flex;
    padding: 0%;
    margin: 0%;
    width: 100%;
}

.div1 {
    padding-top: 90px;
    padding-left: 100px;
    margin-top: 10px;
    width: 50%;
}

.div2 {
    width: 55%;
    padding-top: 2%;
    padding-left: 0px;
    margin: 0%;
}

.section-padding {
    padding-bottom: 70px;
}

.div3 {
    position: relative;
    text-align: center;
    color: black;
}

.div3 img {
    width: 100%;
}

.div4 {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: left;
}